<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Student_club_MS.Properties.Settings.Student_MSConnectionString"
            connectionString="Data Source=DESKTOP-QF8532H\SQLEXPRESS;Initial Catalog=Student_MS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>